/* @font-face{
  font-family: 'Lato', sans-serif;
  src: url('./resources/fonts/lato/Lato-Regular.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

.content {
  display: flex;
  /* gap: 15px; */
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.FormContainer {
  width: 900px;
}

.previewContainer {
  display: block;
  height: 870px;
  width: 672px;
  padding: 20px;

  font-family: 'Lato';



}

.sampleStateButton {
  margin-bottom: 10px;
}

