/* @font-face{
  font-family: 'Lato', sans-serif;
  src: url('./resources/fonts/lato/Lato-Regular.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.content {
  display: flex;
  /* gap: 15px; */
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.FormContainer {
  width: 900px;
}

.sampleStateButton {
  margin-bottom: 10px;
}




/* ------------ Styling for previewPane ------------ */

.previewContainer {
  margin-top: 5px;
  display: block;
  font-family: 'Lato';
  height: 870px;
  width: 672px;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 3px 5px 10px grey
}

.previewPersonal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewPersonalName {
  color: teal;
  font-weight: 500;
  font-size: xx-large;
}

.previewPersonalTitle {
  font-weight: 600;
  font-size: larger;
  color:rgb(0, 87, 87);
}

.previewPersonalDivider {
  margin-top: 15px;
  margin-bottom: 15px;
  color:lightgrey;
}

.previewWorkContainer {

}

.previewWorkHeaderText {
  font-weight: 600;
  font-size: larger;
  color:rgb(0, 87, 87);
  padding-bottom: 10px;
}

.previewWorkSlot {
  margin-left: 25px;
}

.previewWorkPosition {
  font-weight: 600
}

.previewWorkDetails {
  margin-left: 20px;
}






